<!DOCTYPE html>
<html>

<head>
  <title>Online Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="./js/app.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
  <div ng-app="app" ng-controller="QuizController">

    <!-- warning message-->
    <div class="row">
      <div class="col-sm-12">
        <label class="col-sm-9 quiz-warning">Do NOT refresh, go back/forward using browser controls during the survey.</label>
        <span class="col-sm-3 timer" id="timer"></span>
      </div>
    </div>

    <div class="row">
      <!-- step 1 -->
      <div class="col-sm-5 image-area">
        <div><label class="col-sm-12 step-label">Post : {{currentQIndex}} / 28</label></div>
        <div class="screenshot-area">
          <img src={{question.one}} class="screenshot-class" />
        </div>
      </div>

      <div class="col-sm-7 question-area">
        <div><label class="col-sm-12 question-labels">Assume that this post appears on your Facebook news feed as shared by one of your distant friends.</label></div>

        <div class="col-sm-12 question-radio-opinion" style="margin-top: 25px;">
          <label class="question-labels">1) If you were to comment on this post, would your comment be mostly supportive or mostly critical of the content in the post?</label>
          <div class="binary-opinion col-sm-12">
            <label class="col-sm-2">Mostly Supportive</label>
            <div class="slidecontainer-new col-sm-10" style="width:510px;">
              <input type="range" ng-model="myAnswer.initialOpinion" min="-50" max="50" value="0" step="1" id="rangeInitialOpinion" oninput="outputInitialOpinion.value = rangeInitialOpinion.value" class="slider-old-opinion">
              <div class="outputcontainer">
                <label id="outputInitialOpinion" class="not-selected-label">Not Selected</label>
              </div>
            </div>
            <label class="col-sm-1">Mostly Critical</label>
          </div>

          <!-- <div class="opinion-radio">
            <div class="row">
              <input style="margin-left: 40px;" id="initialSupportive" type="radio" name="myAnswer.initialRadioOpinion" ng-model="myAnswer.initialRadioOpinion" value="supportive" class="opinion-radio-button"> <label for="initialSupportive" class="radio-labels">Supportive
                (Your opinion agrees with the content presented by the post.)</label>
            </div>
            <div class="row">
              <input style="margin-left: 40px;" id="initialCritical" type="radio" name="myAnswer.initialRadioOpinion" ng-model="myAnswer.initialRadioOpinion" value="critical" class="opinion-radio-button"> <label for="initialCritical" class="radio-labels">Critical
                (Your opinion disagrees with the content presented by the post.)</label>
            </div>
          </div> -->
        </div>

        <div class="col-sm-12 question-confidence" style="display:none;margin-top: 25px;">
          <div>
            <p class="question-labels">2) How confident are you of your opinion on this topic? Move the slider to denote a value. Higher values denote higher familiarity.</p>
          </div>
          <div class="slidecontainer" style="width:510px;">
            <input type="range" ng-model="myAnswer.initialConfidence" min="0" max="100" value="50" step="1" id="rangeInputOne" oninput="output.value = rangeInputOne.value" class="slider-one">
          </div>
          <div class="outputcontainer">
            <output id="output" for="rangeInputOne">Not Selected</output>
          </div>
        </div>


        <div class="col-sm-12 question-opinion" style="margin-top: 25px;display:none;">
          <label class="question-labels">3) Very briefly, exlpain why you agree/disagree with the content presented in the post?</label>
          <div class="opinion-box">
            <textarea ng-model="myAnswer.initialTextOpinion" class="opinion-textarea"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 button" style="margin-left: -3%;">
            <input id="submit-button" style="display:none;float:right;" class="submit-button" type="submit" ng-click="submitAnswer()" />
          </div>
          <div class="col-sm-4 index-loader" id="loader"></div>
        </div>

      </div>

      <!-- step 2 -->
      <div class="col-sm-5 image-area-two">
        <div><label class="col-sm-12 step-label">Post : {{currentQIndex}} / 28</label></div>
        <div class="screenshot-area">
          <img src={{question.two}} class="screenshot-class" />
        </div>
      </div>

      <div class="col-sm-7 change-area">
        <div><label class="col-sm-12 question-labels">Now, carefully read the comments appearing on the post and answer the following questions.</label></div>

        <div class="col-sm-12 manipulation-radio-opinion">
          <label class="question-labels">1) Would you say the majority of the comments is mostly supportive or mostly critical of the content in the post??</label>
          <div class="opinion-radio">
            <div class="row">
              <input style="margin-left: 40px;" id="manipulationSupportive" type="radio" name="newAnswer.manipulationRadioOpinion" ng-model="newAnswer.manipulationRadioOpinion" value="supportive" class="opinion-radio-button"> <label for="manipulationSupportive"
                class="radio-labels">Supportive (Majority agrees with the content presented by the post.)</label>
            </div>
            <div class="row">
              <input style="margin-left: 40px;" id="manipulationCritical" type="radio" name="newAnswer.manipulationRadioOpinion" ng-model="newAnswer.manipulationRadioOpinion" value="critical" class="opinion-radio-button"> <label for="manipulationCritical"
                class="radio-labels">Critical (Majority disagrees with the content presented by the post.)</label>
            </div>
            <div class="row">
              <input style="margin-left: 40px;" id="manipulationNeutral" type="radio" name="newAnswer.manipulationRadioOpinion" ng-model="newAnswer.manipulationRadioOpinion" value="neutral" class="opinion-radio-button"> <label for="manipulationNeutral"
                class="radio-labels">An equal number of comments both agree and disagree with the content presented by the post.</label>
            </div>
          </div>
        </div>

        <div class="col-sm-12 change-radio-opinion" style="margin-top: 25px;display:none;">
          <label class="question-labels">2) After reading the comments, would your comment be mostly supportive or mostly critical of the content in the post?</label>
          <div class="binary-opinion col-sm-12">
            <label class="col-sm-2">Mostly Supportive</label>
            <div class="slidecontainer-new col-sm-10" style="width:510px;">
              <input type="range" ng-model="newAnswer.newOpinion" min="-50" max="50" value="0" step="1" id="rangeNewOpinion" class="slider-new-opinion">
              <div class="outputcontainer">
                <label id="outputNewOpinion" class="not-selected-label">Not Selected</label>
              </div>
            </div>
            <label class="col-sm-1">Mostly Critical</label>
          </div>
          <!-- <div class="opinion-radio">
            <div class="row">
              <input style="margin-left: 40px;" id="newSupportive" type="radio" name="newAnswer.newRadioOpinion" ng-model="myAnswer.newRadioOpinion" value="supportive" class="opinion-radio-button"> <label for="newSupportive" class="radio-labels">Supportive
                (Your opinion agrees with the content presented by the post.)</label>
            </div>
            <div class="row">
              <input style="margin-left: 40px;" id="newCritical" type="radio" name="newAnswer.newRadioOpinion" ng-model="myAnswer.newRadioOpinion" value="critical" class="opinion-radio-button"> <label for="newCritical" class="radio-labels">Critical
                (Your opinion disagrees with the content presented by the post.)</label>
            </div>
          </div> -->
        </div>

        <div class="col-sm-12 change-confidence" style="display:none;margin-top:25px;">
          <div>
            <p class="question-labels">3) After reading the comments, how familiar are you with the topic discussed in this post? Move the slider to denote a value. Higher values denote higher familiarity.</p>
          </div>
          <div class="slidecontainer" style="width:510px;">
            <input type="range" ng-model="newAnswer.newConfidence" min="0" max="100" value="50" step="1" id="rangeInputTwo" oninput="outputTwo.value = rangeInputTwo.value" class="slider-two">
          </div>
          <div class="outputcontainer">
            <output id="outputTwo" for="rangeInputTwo">Not Selected</output>
          </div>
        </div>

        <div class="col-sm-12 change-opinion" style="margin-top: 25px;display:none;">
          <label class="question-labels">4) Very briefly, exlpain why you agree/disagree with the content presented in the post?</label>
          <div class="opinion-box">
            <textarea ng-model="newAnswer.newTextOpinion" class="new-opinion-textarea"></textarea>
          </div>
        </div>

        <div class="col-sm-12 responses" style="display:none;margin-top:20px;">
          <div>
            <p class="question-labels">5) After reading the comments, how likely are you to...</p>
          </div>
          <table class="response-table">
            <tr>
              <td class="col-sm-2"><label class="question-labels">Like</label></td>
              <td class="col-sm-10">
                <div class="slidecontainer" style="width:510px;">
                  <input type="range" ng-model="newAnswer.like" min="0" max="100" value="50" step="1" id="rangeLike" oninput="outputLike.value = rangeLike.value" class="slider-like">
                </div>
                <div class="outputcontainer">
                  <output id="outputLike" for="rangeLike" class="special-output">Not Selected</output>
                </div>
              </td>
            </tr>

            <tr>
              <td class="col-sm-2"><label class="question-labels">Comment</label></td>
              <td class="col-sm-10">
                <div class="slidecontainer" style="width:510px;">
                  <input type="range" ng-model="newAnswer.comment" min="0" max="100" value="50" step="1" id="rangeComment" oninput="outputComment.value = rangeComment.value" class="slider-comm">
                </div>
                <div class="outputcontainer">
                  <output id="outputComment" for="rangeComment" class="special-output">Not Selected</output>
                </div>
              </td>
            </tr>

            <tr>
              <td class="col-sm-2"><label class="question-labels">Share</label></td>
              <td class="col-sm-10">
                <div class="slidecontainer" style="width:510px;">
                  <input type="range" ng-model="newAnswer.share" min="0" max="100" value="50" step="1" id="rangeShare" oninput="outputShare.value = rangeShare.value" class="slider-share">
                </div>
                <div class="outputcontainer">
                  <output id="outputShare" for="rangeShare" class="special-output">Not Selected</output>
                </div>
              </td>
            </tr>

            <tr>
              <td class="col-sm-2"><label class="question-labels">Report</label></td>
              <td class="col-sm-10">
                <div class="slidecontainer" style="width:510px;">
                  <input type="range" ng-model="newAnswer.report" min="0" max="100" value="50" step="1" id="rangeReport" oninput="outputReport.value = rangeReport.value" class="slider-report">
                </div>
                <div class="outputcontainer">
                  <output id="outputReport" for="rangeReport" class="special-output">Not Selected</output>
                </div>
              </td>
            </tr>
          </table>

        </div>

        <div class="row">
          <div class="col-sm-8 button">
            <input id="next-button" style="display:none;float:right;" class="submit-button" type="submit" ng-click="update()" />
          </div>
        </div>

      </div>
</body>

</html>
